.topnav {
    background-color: #ffffff;
    overflow: hidden;
    height: 70px;
    margin: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .topnav a {
    float: left;
    padding: 14px 16px;
    height: 70px;
    margin-top: -10px;
  }
  h3 {
    margin-top: 15px;
  }
  p{
    margin-top: -15px;
    color:grey;
  }